<div class="card-item" [ngClass]="{'-active': _cardSer.cardFlip | async }">
    <div class="card-item__side -front">
        <div class="card-item__focus -active"  #focusElement>
            <div class="card-item__cover">
                <img src={{bgImage}} alt="" srcset="" class="card-item__bg">
            </div>
        </div>
        <div class="card-item__wrapper">
            <div class="card-item__top">
                <img src="assets/images/chip.png" alt="" srcset="" class="card-item__chip">
                <div class="card-item__type">
                    <img src='assets/images/{{_cardSer.cardType | async}}.png' alt="" srcset="" class="card-item__typeImg">
                </div>
            </div>
             <input 
             type="text"
             id="card-number"
             [ngModel]="_cardSer.cardNumber | async"
             (ngModelChange) = "_cardSer.cardNumber.next(cardNumberInput.value)"
             (keyup)="_cardSer.CheckCardType()"
             [imask]="imask"
             [unmask]="true"
             pattern="[0-9\s]{13,19}"
             autocomplete="cc-number" 
             maxlength="19"
             inputmode="numeric"
             placeholder="#### #### #### ####"
             #cardNumberInput
             />
             <div class="card-item__content">
                <div class="card-name-container">
                   <label for="cardName" class="__holder">Card Holder</label>
                   <input type="text" class="__name" id="name" [ngModel]="_cardSer.cardName | async" (ngModelChange) = "_cardSer.cardName.next(cardNameInput.value)"  placeholder="FULL NAME" #cardNameInput/>
                </div>
                <div class="expire-container">
                    <label for="cardMonth" class="__dateTitle">Expires</label>
                    <div class="month-year">
                        <input type="text" class="__date" id="validity-date-Month" placeholder="00" [imask]="{mask:'00'}" [ngModel]="_cardSer.cardExpireMonth | async" (ngModelChange) = "_cardSer.cardExpireMonth.next(cardExpMonthInput.value)" #cardExpMonthInput/>    
                        <span>/</span>
                        <input type="text" class="__date _year" id="validity-date-Year" placeholder="0000" [imask]="{mask:'0000'}" [ngModel]="_cardSer.cardExpireYear | async" (ngModelChange) = "_cardSer.cardExpireYear.next(cardExpYearInput.value)" #cardExpYearInput/>                     
                    </div>
                    
                </div> 
             </div>
        </div>
    </div>
    <div class="card-item__side -back">
        <div class="card-item__cover">
            <img src={{bgImage}} alt="" srcset="" class="card-item__bg">
        </div>
        <div class="card-item__band"></div>
        <div class="card-item__cvv">
            <div class="card-item__cvvTitle">CVV</div> 
            <input type="text" name="" id="" class="card-item__cvvBand" [imask]="{mask:'000'}" placeholder="****" [ngModel]="_cardSer.cardCVV | async" (ngModelChange) = "_cardSer.cardCVV.next(cardCVVInput.value)" #cardCVVInput/>
            <div class="card-item__type">
                <img src='assets/images/{{_cardSer.cardType | async}}.png' alt="" srcset="" class="card-item__typeImg">
            </div>
        </div>
    </div>
</div>